body {
    background-color: rgb(255, 255, 134);
    font-family: sans-serif;
}

#instructions {
    max-width: 600px;
    margin: 10px;
}

h1 {
    margin: 10px;
}

#map {
    width: 600px;
    height: 675px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row {
    display: flex;
}

.wall {
    width: 75px;
    height: 75px;
    background-image: url(bricks.png);
}

.floor {
    width: 75px;
    height: 75px;
    background-image: url(floor.jpg);
}

.peanut {
    width: 75px;
    height: 75px;
    background-image: url(peanut.png);
}

.storage {
    width: 75px;
    height: 75px;
    background-image: url(floordot.jpg);
}

.sandwich {
    width: 75px;
    height: 75px;
    background-image: url(pbj.jpg);
}

#playa {
    width: 75px;
    height: 75px;
    background-image: url(banana.gif);
}